# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker files (optional, if generated)
*.dockerfile
